<?xml version='1.0' encoding='utf-8'?>
<widget id="io.bluescarf.italianquiz" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Italian Quiz</name>
    <description>
        A fun quiz that teaches and tests your Italian grammar using the MT Method
    </description>
    <author email="andy@andy-foster.com" href="http://andy-foster.com">
        Andy Foster
    </author>
    <icon src="resources/Colosseum-50.png"></icon>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
